@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

body {
  background-color: #494fc1;
  font-family: 'Exo 2', sans-serif; 
}

.container {
  text-align: center;
  background-color: #fd084a;
  width: 200px;
  padding: 20px;
  border-radius: 20px;
}

button {
  padding: 10px;
  /* width: 100%; */
  background-color: #a0fefb;
  color: #494fc1;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: larger;
  cursor: pointer;
  font-family: 'Exo 2', sans-serif; 
}

button:disabled {
  background-color: #cccccc;
}

